<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LB_II_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LB_II_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LB_II_1.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <LB_II_1.Properties.Settings>
            <setting name="ExeDir" serializeAs="String">
                <value />
            </setting>
            <setting name="DBDir" serializeAs="String">
                <value />
            </setting>
            <setting name="DBLog" serializeAs="String">
                <value />
            </setting>
            <setting name="TxtName" serializeAs="String">
                <value>TeachResource.txt</value>
            </setting>
            <setting name="TxtDir" serializeAs="String">
                <value />
            </setting>
        </LB_II_1.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <LB_II_1.Properties.Settings>
            <setting name="DBName" serializeAs="String">
                <value>Database.mdf</value>
            </setting>
            <setting name="DBLogN" serializeAs="String">
                <value>Database_log.ldf</value>
            </setting>
            <setting name="WayToDB" serializeAs="String">
                <value>\Database\</value>
            </setting>
            <setting name="DBN" serializeAs="String">
                <value>Database</value>
            </setting>
        </LB_II_1.Properties.Settings>
    </applicationSettings>
</configuration>